<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d41a8fd3-9977-45f4-b529-60b36ffcf969/resourceGroups/WMS-RG/providers/Microsoft.Web/sites/wms-api-aman</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://wms-api-aman-c0aye3b3efhgcsgt.centralindia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>9d304bd6-ddf5-7c9a-7dab-28c9a721e280</ProjectGuid>
    <PublishUrl>https://wms-api-aman-c0aye3b3efhgcsgt.scm.centralindia-01.azurewebsites.net/</PublishUrl>
    <UserName>$wms-api-aman</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>